.card {
    background: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    overflow: hidden;
    padding: 1.5rem;
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.image {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 4px solid #f9fafb;
}

.icon {
    width: 2vw;
    height: 4vh;
    object-fit: cover;
}

.content {
    padding: 2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2d3748;
    margin-bottom: 0.25rem;
}

.description {
    color: #4a5568;
    font-size: 0.875rem;
}

 @media (min-width: 768px) {
    .mainContainer {
      padding: 2rem;
    }
    
    .card {
      width: 18rem; /* 288px */
    }
  }